@page "/demoHotel"
@using Model


<h3>Our list of hotel rooms</h3>
<div class="border p-2 mt-2" style="background-color: azure">
    <h2 class="text-info">Room List [Using Component]</h2>
    <div class="row container">
        @foreach(var room in RoomsList)
        {
            <IndividualRoom Room="@room" />
        }
    </div>
</div>

@code{


    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenities> AmenitiesList = new List<BlazorAmenities>();


    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite One Bed Room",
            IsActive = true,
            Price = 599,
            RoomProps = new List<Model.BlazorRoomProp>
        {
            new Model.BlazorRoomProp{Id=1, Name="Sq Ft", Value="330" },
            new Model.BlazorRoomProp{Id=2, Name="Occupancy", Value="4" },
            }
        });
        RoomsList.Add(new BlazorRoom()
        {
            Id = 301,
            RoomName = "Villa Suite Two Bed Room",
            IsActive = true,
            Price = 699,
            RoomProps = new List<Model.BlazorRoomProp>
        {
            new Model.BlazorRoomProp{Id=1, Name="Sq Ft", Value="550" },
            new Model.BlazorRoomProp{Id=2, Name="Occupancy", Value="6" },
            }
        });
        AmenitiesList.Add(new BlazorAmenities
        {
            Id = 111,
            Name = "Gym",
            Description = "24x7 gym room is available."
        });
        AmenitiesList.Add(new BlazorAmenities
        {
            Id = 222,
            Name = "Swimming Pool",
            Description = "Pool room is open from 6am to 10pm."
        });
        AmenitiesList.Add(new BlazorAmenities
        {
            Id = 333,
            Name = "Free Breakfast",
            Description = "Enjoy free breakfast at our hotel."
        });
    }
}
